/* Option 3: Celestial Canvas with Constellations */

#celestial-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #0a0e1a;
}

[data-theme="dark"] #celestial-canvas {
    background: #050810;
}

body .container {
    position: relative;
    z-index: 1;
}
